.col-md-6{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-md-6:nth-child(1) {
    border: 2px solid;
    margin-top: 30px;
}
p {
    font-size: 30px;
}
input[type=button] {
    width: 200px;
    height: 50px;
    color: white;
}
#myModalForm {
    margin-left: 570px;
}
table {
    display: none;
}
table tr td {
    border: 1px solid;
    height: 100px;
}
thead tr th  {
    border: 1px solid;
}
th  {
    border-bottom: 1px solid;
    border-top: 1px solid;
}
