<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS project</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div class="row t-left-5" ng-app="myApp" ng-controller="myCtrl" >
    <div id="{{x._id | isObj}}" class="col-md-12 text-center mt-5 form-group hide"
         data-ng-repeat="x in myFavorite.data.products" ng-hide="productDetailId == x.name">
         <h1>{{x._id | isObj}}</h1>
        <li class=" mt-5"><a href='#' alt='' ng-click="showHide(x.name)">{{x.name}}</a></li>
         <h1>{{x.brand}}</h1>
        <img ng-style="myImg" src="{{x.main_picture}}">
         <h1>{{x.type | isArray}}</h1>
        <h1>{{x.price | currency}}</h1>
    </div>


</div>
<script type="text/javascript" src="info.js"></script>
</body>
</html>
